.bfi-btn, a.bfi-btn:link, a.bfi-btn:visited, a.bfi-btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: $font-weight-base;
  font-size: $font-size-regular;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-bottom: 2px solid $btn-default-border;
  white-space: nowrap;
  padding: $padding-base-vertical $padding-base-horizontal;
  line-height: $line-height-base;
  border-radius: $btn-border-radius-base;
  color: $btn-default-color;
  background: $btn-default-bg;
  text-decoration: none;

  &:hover,&:focus {
		outline-offset: -2px;
		color: $btn-default-color;
		background: $btn-default-border;
		border: 1px solid transparent;
		border-bottom: 2px solid $btn-default-border;
    }
	
	&.bfi-alternative, &.bfi-alternative:link {
		background: $btn-alternative-bg;
		border-bottom: 2px solid $btn-alternative-border;
		color: $btn-default-color;
		
		&:hover,&:focus {
			outline-offset: -2px;
			background: $btn-alternative-border;
		}
    }
	&.bfi-alternative2, &.bfi-alternative2:link {
		background: $bfi-alternative2-bg;
		border: 1px solid $bfi-alternative2-border;
		font-size: $font-size-small;
		border-bottom: 2px solid $bfi-alternative2-border;
		color: $bfi-alternative2-color;
		
		&:hover,&:focus {
		outline-offset: -2px;
		color: $bfi-alternative2-color;
		background: $bfi-alternative2-border;
		}
    }
	&.bfi-alternative3, &.bfi-alternative3:link {
		background: $bfi-alternative3-bg;
		border: 1px solid $bfi-alternative3-border;
		font-size: $font-size-regular;
		border-bottom: 2px solid $bfi-alternative3-border;
		color: $bfi-alternative3-color;
		
		&:hover,&:focus {
		outline-offset: -2px;
		color: $bfi-alternative3-color-hover;
		background: $bfi-alternative3-bg-hover;
		}
    }
	&.bfi-alternative4, &.bfi-alternative4:link {
		background: $bfi-alternative4-bg;
		border: 1px solid $bfi-alternative4-border;
		font-size: $font-size-regular;
		border-bottom: 2px solid $bfi-alternative4-border;
		color: $bfi-alternative4-color;
		
		&:hover,&:focus {
		outline-offset: -2px;
		color: $bfi-alternative4-color;
		background: $bfi-alternative4-border;
		}
    }
	&.bfi-not-active, &.bfi-not-active:link {
		pointer-events: none;
		background: $bfi-not-active-bg;
		border-bottom: 2px solid $bfi-not-active-border;
		color: $bfi-not-active-color;
		
		&:hover,&:focus {
		outline-offset: -2px;
		color: $bfi-not-active-color;
		background: $bfi-not-active-border;
		}
	}/**/
}
.bfi-btn-delete {
	&, &:hover {
		text-align: center;
		font-size: 9px;
		font-weight: $font-weight-bold;
		padding: 1px 6px;
		color: $color13;
		background-color: $color6;
		border: solid 1px $color6;
		border-radius: 100px;
		letter-spacing: 0px;
	}
}