$font-family: source-sans-pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-icon: FontAwesome;

$font-size-small: 11px;
$font-size-medium: 12px;
$font-size-regular: 14px;
$font-size-large: 18px;
$font-size-x-large: 20px;
$font-size-xx-large: 24px;
$font-size-xxx-large: 60px;

$font-weight-base: 400;
$font-weight-bold: 700;