.bfi-fields {
  line-height: normal  !important;;
}
.bfi-datepicker{
padding:0;
}
.bfi-mod-bookingforsearch div.selector,.bfi-mod-bookingforsearch div.selector select{
  line-height: normal  !important;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  height: 35px  !important;
}
.bfi-mod-bookingforsearch div.selector span{
  line-height: 32px  !important;
  height: 35px  !important;
}
.bfi-table div.selector, .bfi-table div.selector select{
  line-height: normal  !important;
	-webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  height: 26px  !important;
}
.bfi-table div.selector span{
    line-height: 22px !important;
    height: 22px !important;
}
.bfi-datepicker button, .bfi-datepicker button:hover{
border-radius:none;
-moz-border-radius:none;
-webkit-border-radius:none;
background: none;
padding: 2px 2px 0 2px !important;
  line-height: normal  !important;;
}
.bfi-datepicker button div {color: #616161;}

.bfi-menu-top li:before,
.bfi-menu-small li:before{
	display:none;
}
.bfi-currency-switcher, .bfi-shopping-cart-widget {
    display: block;
	background: transparent;
	color:#ffffff;
	text-align: center;
}
 .bfi-shopping-cart-widget {
	padding:12px 10px;
 }
.bfi-currency-switcher-selected{
	color:#ffffff;
}
.bfi-currency-switcher-content{
	background: transparent;
	color:#ffffff;
}
.bfi-currency-switcher-content div,
.bfi-currency-switcher-selector{
	background-color: #5fc8c2;
	color:#ffffff;
}
.bfi-filteroptions a:hover, .widget.bfi-widget_search_filters a:hover {
    background-color: #5CC618;
    color: #FFFFFF !important;
}
#bfi-calculatorForm .bfi-datepicker button div {color: #0895FF;}
#bfi-calculatorForm .bfi-datepicker button,#bfi-calculatorForm .bfi-datepicker button:hover {text-shadow: none;}
#bfi-calculatorForm .bfi-datepicker, #bfi-calculatorForm .bfi-showperson-text-calculator, #bfi-calculatorForm .bfi-datepicker button {
    border: none;
    text-decoration: underline;
    color: #0895FF !important;
    font-weight: 700;
}
.bfi-showperson.bfi-container select{
	width: 100%;
	height: 28px;
    line-height: 28px;
	border: 1px solid #ccc;
    background-color: #fff;
	max-width: 100%;
	border-radius: 4px;
	}
.bfi-showperson.bfi-container select.bfi-inputmini {
    width: 55px;
}
.ui-datepicker-multi-2 .ui-datepicker-prev {left: 5px;}
.ui-datepicker-multi-2 .ui-datepicker-next {right: 5px;}
.ui-datepicker .ui-datepicker-unselectable {background: #ffffff;}
.bfi-list .bfi-details-container .bfi-mrcgroup img {float: left;}
#ui-datepicker-div.bfi-calendar .ui-datepicker-title {line-height: 17px;}
.bfi-filteroptions a span {font-weight: 400;}
.left-sidebar .bfi-searchfilter {padding: 0; border: none;}
.left-sidebar .bfi-mod-bookingforsearch.ui-widget-content {border: none; padding: 0;}
.webui-popover-bfi-webuipopover {top: 60px; z-index: 99999;}
.header .profile-nav {display: none;}
.header .bfi-shopping-cart {margin-top: 20px;}
.bfi-btn-delete {padding: 5px !important; height: 20px !important; line-height: 5px; background: red;}
.breadcrumbs {display: none;}
.bfi-list .bfi-details-container .bfi-mrcgroup {display: inline-block;}
#bfi-merchant-tags img {display: inline-block;}
#bfi-senior-info-calculator, .bfi_resource-calculatorForm-senior {display: none;}
.bfi-content .inner-nav li a {
    color: #fff;
}
.bfi-content .tab-content article{
	padding-left:30px;
}
.bfi-facility-list .tags {
    border-top: 0px solid #ccc;
    padding: 0 0;
    margin: 0 0 15px;
}
#bfi-resourcedetailsrequest input[type="checkbox"], #bfi-resourcedetailsrequest  input[type="radio"],
.merchantdetailscontacts input[type="checkbox"], .merchantdetailscontacts input[type="radio"] {
    box-sizing: border-box;
    width: 13px;
    height: 13px;
}
.merchantdetailscontacts input[type="search"], 
.merchantdetailscontacts input[type="email"], 
.merchantdetailscontacts input[type="text"], 
.merchantdetailscontacts input[type="number"], 
.merchantdetailscontacts input[type="password"],
.merchantdetailscontacts input[type="tel"], 
.merchantdetailscontacts input[type="url"], 
.merchantdetailscontacts input[type="date"], 
.merchantdetailscontacts select, 
.merchantdetailscontacts textarea {
	box-sizing: border-box;
    line-height: 28px;
    border: #E0E0E0 1px solid;
    background: none;
    background-color: #fff;
	webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
    padding: 0 4px 0 4px;
    margin-bottom: 0;
    min-width: 45px;
    width: 100%;
    height: 30px;
    cursor: pointer;
}
.bfi-description-data li {
	position: inside;
	padding: 0;
} 
.bfi-description-data li:before {
    content: none;
} 

.bfi-content .inner-nav{
    width: 100%;
}

.bfi-content .inner-nav li {
	border-right: 2px solid white;
	display: table-cell;
	width: 1%;
	float: none;
}
.bfi-content .inner-nav li.active,
.bfi-content .inner-nav li.active:hover,
.bfi-content .inner-nav li.current-menu-item,
.bfi-content .inner-nav li.current-menu-item:hover{
	width: 1%;
}
.bfi-content .inner-nav li.active a:after,
.bfi-content .inner-nav li.current-menu-item a:after {
    content: none;
}

.bfi-content .tab-content{
    width: 100%;
}
@media screen and (max-width: 600px) {
	.bfi-content .inner-nav,
	.bfi-content .inner-nav li,
	.bfi-content .inner-nav li.active, 
	.bfi-content .inner-nav li.active:hover,
	.bfi-content .tab-content
	{
		display: block;
		width:100%;
	}
	.bfi-content .inner-nav {margin-bottom:20px;}
	.bfi-content .inner-nav li.active a:after,
	.bfi-content .inner-nav li.active a:after {display:none;}
}

.bfi-cctitle{
	font-weight:bold;
}
.bfi-payment-form label div{
	margin-bottom:10px;
}
.bfi-ccimages{
	font-size: 1.875em;
}
.ui-widget-content.bfi-dialog{
z-index: 100000;
}
#ui-datepicker-div.bfi-calendar{
	z-index:100001 !important;
}

.home-content-sidebar .bfi-mod-bookingforsearch{
	position: absolute;
    top: -280px;
    left: 0;
    z-index: 99;
    width: 100%;
    display: inline-block;
    padding: 15px 15px 10px;
    border: 1px solid #fff;
}
.home-content-sidebar .com_bookingforconnector-item-col{
	margin:10px;
    background-color: #fff;
}
@media screen and (max-width: 1070px) {
	.home-content-sidebar .bfi-mod-bookingforsearch {position:static;}
}
